<h1>{{info}}</h1>
<div class="row">
  <button className='email'>dylan.hulain@gmail.com</button>
</div>
<div class="row">
  <button type="button" class="btn btn-default" onclick="window.location.href='/links'">Profile</button>
</div>
