<h1>{{about}}</h1>
<button onclick="window.location.href='https://github.com/DylanHul'">Git Hub & Projects</button>
<button onclick="window.location.href='https://nz.linkedin.com/pub/dylan-hulain/125/800/333'">Checkout My Linkedin</button>
