<h1>{{about}}</h1>
<div class="row">
  <button onclick="window.location.href='https://github.com/DylanHul'">Git Hub & Projects</button>
</div>
<div class="row">
  <button onclick="window.location.href='https://nz.linkedin.com/pub/dylan-hulain/125/800/333'">Checkout My Linkedin</button>
</div>
