<h1>{{title}}</h1>
<h3>Full Stack Web Developer</h3>
<div class="container">
  <div class="row">
    <button onclick="window.location.href='/contact'">Contact</button>
  </div>
  <div class="row">
    <button onclick="window.location.href='/links'">Profile</button>
  </div>
</div>
