<!DOCTYPE html>
<html>
  <head>
    <title>Dylan's Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class=”container-fluid”>
      {{{body}}}
    </div>
</html>
