<!DOCTYPE html>
<html>
  <head>
    <title>Dylan's Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css"></link>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      {{{body}}}
</html>
