body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #222628;
  color: #F4F4F4;
  text-align: center;
}

.container {
  padding: 50px;
}

button {
 background-color:transparent;
 -moz-border-radius:28px;
 -webkit-border-radius:28px;
 border-radius:28px;
 display:inline-block;
 cursor:pointer;
 color:#F4F4F4;
 font-family:Arial;
 font-size:28px;
 font-weight:bold;
 padding:16px 31px;
 text-decoration:none;
}
.email {
  background-color:transparent;
  border: none;
}

.row {
  margin-bottom: 25px
}
